/*
  Spectrum Site CSS
  2021, PHNX.-
*/

body {
  font-size: 14px;
  background-color: #ffffff; /*#f6bd16;*/
}

.main {
  width: 95%;
  /*max-width: 2000px;*/
}

.plot-div {
  min-height: 300px;
  /*max-height: 1200px;*/
}

.logo {
  width: 27%;
  height: auto;
  max-height: 400px;
}

.logo-404 {
  width: 10%;
  max-height: 400px;
}

#ser-time-progress-bar {
  height: 10px;
}

.toast-container {
  z-index: 1111;
}

/* Special Settings for PWA */
@media all and (display-mode: standalone) {
  .main {
    width: 100%;
  }
}
