/*
  Spectrum Site CSS
  2021, PHNX.-
*/

body {
  font-size: 14px;
  background-color: #ffffff; /*#f6bd16;*/
}

h3 {
  font-size: 22px;
}

.main {
  width: 98.2%;
  /*max-width: 2000px;*/
}

.plot-div {
  min-height: 300px;
  /*max-height: 1200px;*/
}

.logo {
  width: 27%;
  max-height: 400px;
}

.logo-404 {
  width: 10%;
  max-height: 400px;
}

#ser-time-progress-bar {
  height: 10px;
}

.toast-container {
  z-index: 1111;
}
