/*
  Spectrum Site CSS
  2021, PHNX.-
*/

body {
  font-size: 14px;
  /*background-color: #ffffff;*/ /*#f6bd16;*/
}

.main {
  width: 95%;
  /*max-width: 2000px;*/
}

.plot-div {
  min-height: 400px;
  /*max-height: 1200px;*/
}

@media (max-width: 767.98px) { /* bootstrap md breakpoint */

  .plot-div {
    min-height: 500px;
    /*max-height: 1200px;*/
  }

}

.file-import-success {
  --fa-animation-duration: 5s;
}

.logo {
  width: 27%;
  height: auto;
  max-height: 400px;
}

.logo-404 {
  width: 10%;
  max-height: 400px;
}

.iso-table-label {
  pointer-events: none;
}

#ser-time-progress-bar {
  height: 12px;
}

#add-notes {
  resize: none;
}

.toast-container {
  z-index: 1111;
}

/* Special Settings for PWA */
@media all and (display-mode: standalone) {
  .main {
    width: 100%;
  }
}
