/*

  Some of the extra CSS needed for Gamma MCA.

  Gamma MCA: free, open-source web-MCA for gamma spectroscopy
  2021, NuclearPhoenix.- Phoenix1747
  https://nuclearphoenix.xyz

*/

body {
  font-size: 14px;
}

.main {
  width: 95%;
  /*max-width: 2000px;*/
}

.plot-div {
  min-height: 400px;
  /*max-height: 1200px;*/
}

@media (max-width: 767.98px) { /* bootstrap md breakpoint */

  .plot-div {
    min-height: 500px;
    /*max-height: 1200px;*/
  }

}

.cursor-pointer {
  cursor: pointer;
}

.file-import-success {
  --fa-animation-duration: 5s;
}

.notification-beat-slow {
  --fa-animation-duration: 2s;
}

.logo {
  width: 27%;
  height: auto;
  max-height: 400px;
}

.logo-404 {
  width: 10%;
  max-height: 400px;
}

.iso-table-label {
  pointer-events: none;
}

#loading-spinner {
  width: 3rem;
  height: 3rem;
}

#ser-time-progress-bar {
  height: 12px;
}

#add-notes {
  resize: none;
}

/* SEEMS LIKE NOT NEEDED ANYMORE
.toast-container {
  z-index: 1111;
}
*/

/* Special Settings for PWA */
@media all and (display-mode: standalone) {
  .main {
    width: 100%;
  }
}
